/*
Author: Hein Thet Naung
Purpose: Ubisoft Singapore Testing
Date: 30th October 2019
*/
canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

header {
  background-color: #131313;
  box-shadow: 0px 19px 20px -11px #131313; }

#input-wrapper {
  position: relative; }

#monitorCanvas {
  background-color: #000000; }

.the-datepicker__deselect {
  top: 6px; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
  .pace.pace-inactive .pace-progress {
    display: none; }
  .pace .pace-progress {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important; }
  .pace .pace-progress:after {
    display: block;
    position: absolute;
    content: attr(data-progress-text);
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    font-size: 5rem;
    line-height: 1;
    text-align: center;
    color: #131313;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

/*# sourceMappingURL=style.css.map */
