canvas {
  background-color: #000;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#control-panel {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  background: #FFF;
  top: 0;
  left: 0;
  margin: 12px;
  padding: 20px;
  z-index: 1;
}

label {
  display: inline-block;
  width: 140px;
}

#tooltip {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  /* padding: 4px; */
  margin: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}

#control-panel {
  border: 0px solid #DDD;
  padding: 15px;
}

#logo {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 999;
}
#logo img {
  width: 120px;
}

.form-control {
  width: inherit;
  border: 1px solid #DDD;
  padding: 5px;
  border-radius: 5px;
  margin: 15px 0px;
}

#timeline {
  position: absolute;
  width: 100%;
  z-index: 9999;
  top: 111%;
  background: #FFF;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: top 1s linear;
  transition: top 1s linear;
}
#timeline.active {
  top: 100%;
}
#timeline #rngOutput {
  display: block;
  padding: 10px;
  position: absolute;
  right: 40px;
  border: 0px;
  top: 20px;
}
#timeline .rangeWrapper,
#timeline .playBtnWrapper {
  display: inline-block;
}
#timeline .rangeWrapper {
  width: calc(100% - 140px);
}
#timeline .rangeWrapper #rng {
  width: inherit;
  padding: 25px 0px;
}
#timeline .playBtnWrapper {
  padding-top: 20px;
  width: 100px;
  position: relative;
  margin-left: 20px;
  float: left;
}

#total_player {
  color: blue;
}

#total_ai {
  color: red;
}

#todayInfo {
  font-size: 12px;
}

button#play {
  background: #FFF;
}

.text-right {
  text-align: right;
}

.play {
  display: block;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 24px solid #2c3e50;
  margin: 0px auto 20px auto;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  left: 4px;
}
.play:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -46px;
  bottom: -30px;
  right: -14px;
  border-radius: 50%;
  border: 4px solid #2c3e50;
  z-index: 2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.play:after {
  content: "";
  opacity: 0;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}
.play:hover:before, .play:focus:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.play.active {
  border-color: transparent;
}
.play.active:after {
  content: "";
  opacity: 1;
  width: 20px;
  height: 32px;
  background: #2c3e50;
  position: absolute;
  right: 5px;
  top: -16px;
  border-left: 4px solid #2c3e50;
  -webkit-box-shadow: inset 12px 0 0 0 #f9f9f9;
          box-shadow: inset 12px 0 0 0 #f9f9f9;
}

.fullScreen{
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */