@import "colorList";

canvas {
  background-color: $black;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#control-panel {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  background: $white;
  top: 0;
  left: 0;
  margin: 12px;
  padding: 20px;
  z-index: 1;
}

label {
  display: inline-block;
  width: 140px;
}

#tooltip {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  /* padding: 4px; */
  margin: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: $white;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}

#control-panel {
  border: 0px solid $softWhite;
  padding: 15px;
}

#logo {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 999;
  img {
    width: 120px;
  }
}
.form-control {
  width: inherit;
  border: 1px solid $softWhite;
  padding: 5px;
  border-radius: 5px;
  margin: 15px 0px;
}

#timeline {
  position: absolute;
  width: 100%;
  z-index: 9999;
  top: 111%;
  background: $white;
  transform: translateY(-100%);
  transition: top 1s linear;
  &.active{
      top: 100%;
  }
  #rngOutput {
    display: block;
    padding: 10px;
    position: absolute;
    right: 40px;
    border: 0px;
    top: 20px;
  }
  .rangeWrapper,
  .playBtnWrapper {
    display: inline-block;
  }
  .rangeWrapper{
      width: calc(100% - 140px);
      #rng{
          width: inherit;
          padding: 25px 0px;
      }
  }
  .playBtnWrapper {
    padding-top: 20px;
    width: 100px;
    position: relative;
    margin-left: $size;
    float: left;
  }
}

.fullScreen{
  overflow: hidden;
}

#total_player{
    color: blue;
}

#total_ai{
    color: red;
}

#todayInfo{
    font-size: 12px
}

button#play {
  background: $white;
}

// General
.text-right{
    text-align: right;
}

// Buttons
.play {
  display: block;
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left: ($size * $ratio) solid $foreground;
  margin: 0px auto $size auto;
  position: relative;
  z-index: 1;
  transition: all $transition-time;
  -webkit-transition: all $transition-time;
  -moz-transition: all $transition-time;
  left: ($size * 0.2);
  &:before {
    content: "";
    position: absolute;
    top: ($size * -1.5);
    left: ($size * -2.3);
    bottom: ($size * -1.5);
    right: ($size * -0.7);
    border-radius: 50%;
    border: ($size * 0.2) solid $foreground;
    z-index: 2;
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
  }
  &:after {
    content: "";
    opacity: 0;
    transition: opacity ($transition-time * 2);
    -webkit-transition: opacity ($transition-time * 2);
    -moz-transition: opacity ($transition-time * 2);
  }
  &:hover,
  &:focus {
    &:before {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
    }
  }
  &.active {
    border-color: transparent;
    &:after {
      content: "";
      opacity: 1;
      width: ($size);
      height: ($size * 1.6);
      background: $foreground;
      position: absolute;
      right: ($size * 0.1);
      top: ($size * -0.8);
      border-left: ($size * 0.4) solid $foreground;
      box-shadow: inset ($size * 0.6) 0 0 0 $background;
    }
  }
}
