*:hover{
  outline: none;
  text-decoration: none !important;
}

body{
  overflow-x: hidden;
}

nav{
  position: fixed;
  z-index: 99999;
  top: 50%;
  transform: translateY(-50%);
}

nav ul{
  list-style: none;
  padding: 0px;
  font-size: 12px;
}

nav ul li{

  border-radius: 0px 5px 5px 0px;
  background-color: #FFF;
}

nav ul a{
  width: 83px;
  border: 1px solid #DDD;
  padding: 15px;
  color: #000;
  display: block;
}

nav ul a:hover{
  color: #000;
}

nav ul a.active{
  font-size: 16px;
  border-radius: 0px 5px 5px 0px;
  font-weight: bold;
  color: #FFF;
}

nav ul a.active{
  width: 130px;
  text-align: center;
  background-color: #131313;
}